<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.naviIT"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
	
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
   	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="com.example.naviIT.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.naviIT.EditEventActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.EditEventActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.naviIT.AddEventActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.AddEventActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.naviIT.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.naviIT.RegisterActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.RegisterActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.naviIT.EventsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.EventsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.naviIT.RFMainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.naviIT.Splash"
            android:label="@string/app_name" 
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        	<service
            android:name=".MainService"
            android:enabled="true">
        </service>
		<receiver
            android:name="com.example.naviIT.RefreshReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.example.naviIT.REFRESH"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
